body {
  max-width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: #1d2939;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  height: auto;
  padding: 1em 0em 5em 0em;
  background-image: url("./images/Background\ pattern.svg");
}
nav {
  margin: 0 4em 6em 4em;
  background-color: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em;
  border-radius: 10rem;
  border: 1px solid #d0d5dd;
}
nav .nav-links {
  display: flex;
}
nav .nav-links .nav-link {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: #667085;
  font-size: 1.5rem;
}
nav .nav-links .nav-link .arrow-down {
  margin-top: 0.3rem;
}
/* HERO SECTION STYLES */
.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 0 8em 0em 8em;
}
.hero-text-container {
  flex: 1;
}
.hero-img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff8ff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px 5px #10182812;
  /* width:40%; */
  flex: 0.8;
}
.hero-img-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 12vw);
  grid-gap: 1.5rem;
}
.video-icons-container {
  margin-top: 2rem;
}
.video-icons-container img {
  object-fit: contain;
  width: 100%;
}
.avatar {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 600;
  font-size: 5.3rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}
h1 span {
  display: block;
}
.hero-text-container p {
  font-size: 2rem;
  color: #667085;
  line-height: 1.5;
}
.hero-text-container p span {
  display: block;
}

.hero-btns {
  margin: 4em 0;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.ai-link-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.ai-link-container img {
  margin-right: 1rem;
  height: 1.5rem;
}
.ai-link-container .ai-link {
  color: #175cd3;
  font-size: 1.5rem;
}
/* REVIEWS STYLES */
.review-container {
  display: flex;
  align-items: center;
}
.users-img {
  margin-right: 1rem;
}
.ratings-container {
  color: #475467;
}
.stars-container {
  display: flex;
  align-items: center;
  color: #344054;
}
.stars-container p {
  margin-top: 0.5rem;
}
.stars-container p,
.ratings-container p {
  font-size: 1.5rem;
}
/* SOCIAL PROOF SECTION */
.social-proof-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: #475467;
  text-align: center;
}
.social-proof-images {
  width: 100%;
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 3vw);
}
.social-proof_img-container img {
  object-fit: contain;
  width: 80%;
  height: 80%;
}

/* WHY CHOOSE CLEARLINK STYLES */
.why-choose {
  font-size: 1.5rem;
}
.why-choose_text1 {
  color: #667085;
  width: 58%;
  font-size: 2rem;
}
.why-choose_2 {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.why-choose_img {
  width: 40%;
}
.why-choose_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.why-choose-text2_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
}
.why-choose_title {
  font-weight: 600;
  font-size: 2rem;
}
.why-choose_body-text {
  font-size: 1.5rem;
  color: #475467;
  width: 75%;
}
.feature-icon {
  width: 4rem;
}
/* TESTIMONIAL SECTION */
.testimonial-section {
  background-color: #f9fafb;
  padding: 12rem 8rem;
  display: flex;
  justify-content: space-between;
}
.testimonial-section1 {
  width: 50%;
}
.testimonial-section .shopify {
  margin-bottom: 3rem;
}
.testimonial-section .testimonial-stars {
  display: block;
}
blockquote {
  margin: 3rem 0;
  font-weight: 600;
  font-size: 4rem;
}
blockquote span {
  display: block;
}
.review-arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewer-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.reviewer-container img {
  width: 4rem;
  margin-right: 1rem;
}
.reviewer-container p {
  font-weight: 600;
}
.reviewer-container span {
  display: block;
  font-weight: 400;
  color: #475467;
}
.carousel-arrow img {
  width: 4rem;
}
.carousel-arrow .rightarrow {
  margin-left: 1rem;
}
.testimonial-gallery {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 2.1vw);
  padding: 0, 1rem;
  grid-gap: 1rem;
  width: 50%;
}
.testimonial-gallery_img1 {
  grid-column: 5/11;
  grid-row: 3/7;
}
.testimonial-gallery_img2 {
  grid-column: 11/17;
  grid-row: 1/7;
}
.testimonial-gallery_img3 {
  grid-column: 3/8;
  grid-row: 7/10;
}
.testimonial-gallery_img4 {
  grid-column: 8/14;
  grid-row: 7/13;
}
.testimonial-gallery_img5 {
  grid-column: 14/19;
  grid-row: 7/10;
}
.testimonial-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* FAQ STYLES*/
.faq-section {
  display: flex;
}
.faq-section1,
.faq-section2 {
  width: 50%;
}
.faq-text {
  color: #667085;
  width: 80%;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.faq-ans {
  font-size: 1.2rem;
  width: 90%;
}
.faq-container {
  padding: 3rem;
  border-bottom: 1px solid #eaecf0;
  border-radius: 1rem;
}
.faq1-container {
  background-color: #eaecf0;
}
/* TRIAL SECTION STYLES */
.trial-section {
  display: flex;
}
.trial-section div {
  flex: 1;
}
.trial-section1 p {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2;
}
.trial-section1 p img {
  width: 2rem;
  margin-right: 1rem;
}
.trial-btns {
  margin-top: 3rem;
}
.trial-section2 {
  width: 50%;
}
.trial-section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* FOOTER SECTION STYLES */
footer {
  font-size: 1.5rem;
  color: #475467;
}
.footer-section1 {
  display: flex;
  justify-content: space-between;
}
.footer-links-main {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  gap: 3rem;
}
.long-text-container {
  width: 35%;
}
.footer-longtext {
  margin-top: 2rem;
}
.footer-longtext span {
  display: block;
}
.footer-heading {
  margin-bottom: 1.5rem;
  color: #667085;
}
.footer-link {
  color: #475467;
  display: block;
  margin-top: 1.5rem;
}
.footer-links-container {
  font-weight: 600;
}
.get-app {
  color: #004eeb;
}
/* COMMON STYLES */
a {
  text-decoration: none;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 img {
  width: 1.5rem;
}
button {
  padding: 1em 2em;
  border-radius: 10rem;
  font-weight: 600;
}
.btn-white {
  background-color: white;
  border: 1px solid #98a2b3;
  color: black;
  margin-right: 1rem;
}
.btn-blue {
  background-color: #175cd3;
  border: 1px solid #175cd3;
  color: white;
}

.common-margin,
.footer-padding {
  margin: 12rem 8rem;
}

.common-padding {
  padding: 12rem 0rem 12rem 8rem;
}
.logo {
  width: 14rem;
}
.subheadings {
  color: #175cd3;
  font-weight: 600;
  font-size: 1.5rem;
}
h2 {
  font-size: 3rem;
  margin: 1.5rem 0;
}
h2 span {
  display: block;
}

/* media queries */
@media (max-width: 925px) {
  nav .nav-links {
    display: none;
  }
  h1 {
    font-size: 3.5rem;
  }
  .hero-img-container {
    grid-template-rows: repeat(2, 20vw);
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-img-section {
    width: 100%;
  }
  .hero-text-container,
  .hero-img-container {
    width: 100%;
  }
  .hero-text-container h1,
  .hero-text-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-section {
    flex-direction: column;
    margin: 0 3em;
  }
  .review-container {
    margin-bottom: 2rem;
  }
  .common-margin,
  .footer-padding {
    margin: 6rem 4rem;
  }
  .common-padding {
    padding: 6rem 0rem 6rem 4rem;
  }
  .testimonial-section {
    padding: 6rem 4rem;
  }
  header {
    background-size: cover;
    background-position: top;
    text-align: center;
  }
  .social-proof-images {
    grid-template-rows: repeat(1, 5vw);
  }
  .why-choose_1 {
    text-align: center;
  }
  .why-choose_text1 {
    width: 100%;
  }
  .why-choose_2 {
    flex-direction: column-reverse;
  }
  .why-choose_img {
    width: 100%;
  }
  .why-choose-text2_container {
    margin-top: 1rem;
  }
  .feature-icon {
    margin-top: 1rem;
  }
  .why-choose_body-text {
    width: 100%;
  }
  blockquote {
    font-size: 6vw;
  }
  .testimonial-section {
    flex-direction: column-reverse;
  }
  .testimonial-section1,
  .testimonial-gallery,
  .trial-section2 {
    width: 100%;
  }
  .testimonial-gallery,
  .trial-section1 {
    margin-bottom: 2rem;
  }

  .faq-section,
  .trial-section {
    flex-direction: column;
  }
  .faq-section1,
  .faq-section2,
  .faq-text {
    width: 100%;
  }
  h2 span {
    display: inline;
  }
  .footer-section1 {
    flex-direction: column;
  }
  
 
  .footer-links-container {
    margin-bottom: 3rem;
  }
  .long-text-container {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  nav {
    margin: 0 1em 3em 1em;
    padding: 1em 2em;
    border-radius: 5rem;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
  button {
    font-size: 1.3rem;
    padding: 0.5em 1em;
  }
  .hero-img-container {
    grid-gap: 1rem;
  }
}
@media (max-width: 425px) {
  button {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  .common-margin,
  .footer-padding {
    margin: 4rem 2rem;
  }
  .common-padding {
    padding: 4rem 0rem 4rem 2rem;
  }
  .testimonial-section {
    padding: 4rem 2rem;
  }
  .testimonial-gallery {
    grid-template-rows: repeat(12, 4vw);
  }
}
